@import "bootstrap-sprockets";
@import "bootstrap";

header img {
  height: 35px;
  width: 35px;
  line-height: 50px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  vertical-align: center;
  display: inline-block;
}

#paintings {
  margin: 0;
  padding: 0;
}

.clear {
  overflow: hidden;
  span {
    color: red;
  }
}

.navbar-brand {
  span {
    color: red;
  }
}