@import "bootstrap-sprockets";
@import "bootstrap";

header img {
  height: 35px;
  width: 35px;
  line-height: 50px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  vertical-align: center;
  display: inline-block;
}

.navbar navbar-default {
  color: navbar navbar-default;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: #EE3A8C;
}

.breadcrumb {
  position:absolute;
   bottom:0;
   width:100%;
   height:60px;
   text-align: center;
   color: #EE3A8C;
}



.home {
  min-height: 600px;
  background: url(image_path("nighthawks.jpg"));
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;

  ul {
    max-width: 320px;
    display: block;
    margin: 400px auto 0;
    li {
      display: inline-block;
      text-align: center;
      color: black;
      a {
        background: white;
        padding: 10px 20px;
      }
    }
  }
}

.jumbotron {
  background-color: #FFD700;
  color: #B0171F;
}

.btn-primary {
  background-color: #CD0000;
}

.btn-primary:hover {
  background-color: #EE30A7;
}

#paintings {
  margin: 0;
  padding: 0;
}

.clear {
  overflow: hidden;
  span {
    color: #ab0000;
  }
}

.navbar-brand {
  span {
    color: red;
  }
}