<div class="jumbotron">
  <h1>Welcome to Paint!</h1>
  <br></br>
  <span></span>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="row home">
    <div id="content"></div>
    <div id="footer"></div>
    <div id="cc"></div>
    <div id="tom"></div>
</div>